@mixin display ($dispaly, $justify, $align) {
    display: $dispaly;
    justify-content: $justify;
    align-items: $align;
}

@mixin media($size) {
    @if ($size == L) {
        @media (max-width: 1200px) {
            @content;
        } 
    } @else if ($size == M) {
        @media (max-width: 992px) {
            @content;
        }
    } @else if($size == Sm) {
        @media (max-width: 768px) {
            @content;
        }
    } @else if($size == XSm) {
        @media (max-width: 546px) {
            @content;
        }
    }
}